:root {
    --primary-background: #fdfdfd;
    --secendary-background: #d7043eff;

    --primary-text-color: #000000;
    --secendary-text-color:#ffffff;

    --header-hight:80px;

    --transition-speed: 0.5s;
}
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto'
}
body {
    overflow: hidden;
}
body>header {
    display: inline-block;
    height: var(--header-hight);
    width: 100vw;
    background-color: var(--secendary-background);
    transition: filter var(--transition-speed) ease-in-out;
}

/*show the kfc logo*/
header>div.logo {
    width: 475px;
    height: var(--header-hight);
    background-image: url("https://kfc.nl/theme/images/kfc_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 40%;
}

main {
    display: inline-block;
    background-color: var(--primary-background);
    height: calc(100vh - var(--header-hight));
    width: 100vw;
    overflow-y: scroll;
    transition: filter var(--transition-speed) ease-in-out;
}

.blur{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

main >section {
    position: relative;
    display: inline-block; 
    width: 384px;
    height: 400px;
    margin-left: 10px;
    margin-bottom: 10px;
}
main>section>img {
    width: 100%;
    object-fit: contain;
    max-width: 800px;
    min-width: 300px;
    max-height: 800px;
    min-height: 300px;
}
main>section>h3 {
    text-align: center;
    font-size: 2em;
    color: var(--primary-text-color);
}
main>section>p {
    position: absolute;
    left: 10px;
    bottom: 12px;
    font-size: 1.2em;
    color: var(--primary-text-color);
}
main>section>button {
    position: absolute;
    right: 10px;
    bottom: 5px;
    height: 40px;
    width: 70px;
    font-size: 1.2em;
    background-color: #d7043eff;
    color: var(--secendary-text-color);
    border: solid 1px #1f1f1f;
}
main>section>button:active {
    background-color: #c7042eef;
}
main>section>button:hover {
    cursor: pointer;
}


body>article {
    background-color: var(--primary-background);
    z-index: 1;
    overflow: hidden;
    transition: width var(--transition-speed) ease-in-out, height var(--transition-speed) ease-in-out, top var(--transition-speed) ease-in-out, left var(--transition-speed) ease-in-out;
    border: var(--secendary-background) 1px solid;
}
body>article>section {
    width: 80vw;
    height: 80vh;
}
body>article>section>div {
    width: 80vw;
    height: calc(80vh - 30px);
}
body>article>section>header {
    background-color: var(--secendary-background);
    height: 30px;
    
}

body>article>section>header>h5, body>article>section>header>p {
    font-size: 1.5em;
    color: var(--secendary-text-color);
    padding-left: 10px;
    display: inline;
}
body>article>section>div>img {
    display:block;
    margin:auto;
    width: 790px;
    height: 477px;
}
body>article>section>header>p {
float: right;
transition: color, 0.5s;
}

body>article>section>header>p:hover {
    color: #afafaf;
    cursor: pointer;
}
body>article>section>div>div.product_details {
    width: calc(40vw - 80px);
    margin-left: 50px;
    float: left;
}

body>article>section>div>div.product_details>h1, body>article>section>div>div.product_details>h2{
    color: var(--primary-text-color);
    font-weight: bold;
}
body>article>section>div>div.product_details>h1 {
    font-size: 2em;
    
}
body>article>section>div>div.product_details>h2 {
    font-size: 1.5em;
}
body>article>section>div>div.product_details>p{
    color: var(--primary-text-color);
    font-size: 1em;
}

body>article>section>div>div.bestaat_uit {
    width: calc(40vw - 100px);
    margin-left: 100px;
    float: right;
}
body>article>section>div>div.bestaat_uit>ul {
    list-style: none;
    font-weight: lighter;
    font-size: 1em;
}
