:root {
     --primary-background: #fdfdfd;
    --secendary-background: #d7043eff;

    --header-hight:80px;
}
* {
    padding: 0%;
    margin: 0%;
}
body {
    overflow: hidden;
}
body>header {
    display: inline-block;
    height: var(--header-hight);
    width: 100vw;
    background-color: var(--secendary-background);
}
header>div.logo {
    
    width: 475px;
    height: var(--header-hight);
    background-image: url("https://kfc.nl/theme/images/kfc_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 40%;
}
header>a {
    
    color: white;
    text-decoration: none;
    font-size: 30px;
}
main {
    display: inline-block;
    background-color: var(--primary-background);
    height: calc(100vh - var(--header-hight));
    overflow-y: scroll;
    transition: filter, 0.05s;
}

main.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

main >section {
    position: relative;
    display: inline-block; 
    width: 384px;
    height: 332px;
    margin-left: 10px;
    margin-bottom: 10px;
}
main>section>img {
    width: 100%;
    object-fit: contain;
    max-width: 800px;
    min-width: 300px;
}
main>section>h3 {
    text-align: center;
    font-size: 2em;
}
main>section>p {
    position: absolute;
    left: 10px;
    bottom: 12px;
    font-size: 1.2em;
}
main>section>button {
    position: absolute;
    right: 10px;
    bottom: 5px;
    height: 40px;
    width: 70px;
    font-size: 1.2em;
    background-color: #d7043eff;
    color: white;
    border: solid 1px #1f1f1f;
}
main>section>button:active {
    background-color: #c7042eef;
    
}


body>article {
    position: absolute;
    top: 10vh;
    right: 10vw;
    background-color: var(--primary-background);
    z-index: 1;
    width: 80vw;
    height: 80vh;

    
}
body>article>header {
    background-color: var(--secendary-background);
    height: 30px;
    
}

body>article>header>h5, body>article>header>p {
    font-size: 1.5em;
    color: white;
    padding-left: 10px;
    display: inline;
}

body>article>header>p {
float: right;
transition: color, 0.5s;
}

body>article>header>p:hover {
    color: #afafaf;
}